/*
	Common Colors:
		
		Brown: 		#955436
		LightBlue: 	#aae0fa
		Magenta:	#d93a96
		Orange:		#f7941d
		Red:		#ed1b24
		Yellow:		#fef200
		Green:		#1fb25a
		Blue:		#0072bb
*/

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: url('background.jpg');
	background-size: 100% auto;
	font-family: Kabel;
}

#grid {
	width: 100%;
	height: 100%;
}
#board {
	background: url('board.jpg');
	background-size: 100%;
	width: 800px;
	height: 800px;
	box-shadow: 0px 0px 48px #000;
	text-align: center;
}

#ui {
	display: block;
	background: #cde6d0;
	width: 586px;
	height: 586px;
	margin-left: 5px;
	
	text-align: left;
}

#card {
	position: absolute;
	background: white;
	box-shadow: 0px 0px 16px #444;
	border: 3px solid #333;
	width: 240px;
	height: 275px;
	z-index: 100;
}

#card-header {
	margin: 5px;
	height: 45px;
	border: 3px solid #333;
	text-align: center;
	
}

#property-info {
	margin: 8px;
	
	font-family: Raleway;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	text-align: center;
}

#property-info span {
	display: block;
	width: 100%;
}

#property-info table {
	border-collapse: collapse;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	width: 175px;
}

#property-info td:last-child {
	text-align: right;
}

#property-info p {
	font-size: 9px;
	line-height: 10px;
}

#card-header span {
	display:flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

#board-grid {
	float: left;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

@font-face{
    font-family: Kabel;
    src: url('kabel.ttf');
}

@font-face{
    font-family: Raleway;
    src: url('raleway.ttf');
}