/*
	Common Colors:
		
		Brown: 		#955436
		LightBlue: 	#aae0fa
		Magenta:	#d93a96
		Orange:		#f7941d
		Red:		#ed1b24
		Yellow:		#fef200
		Green:		#1fb25a
		Blue:		#0072bb
*/

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: url('background.jpg');
	background-size: 100% auto;
	font-family: Kabel;
	
	/* Turn off text highlighting for everything */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
									  not supported by any browser */
}

button {
	box-shadow: 1px 1px 5px #333;
	font: 17px Raleway;
	border: none;
	padding: 0px 12px;
	background: #ffffff;
	background-image: url('material.png');
	background-blend-mode: multiply;
	height: 32px;
}

button:hover {
	background: #f0f0f0;
	background-image: url('material.png');
}

button:active {
	box-shadow: 0px 0px 2px #333;
	background: #e0e0e0;
	background-image: url('material.png');
}

<!-- More pastel-y versions of the monopoly colors -->
.brown {
	background: #BA907C;
	background-image: url('material.png');
}
.light-blue {
	background: #CCECFC;
	background-image: url('material.png');
}
.magenta {
	background: #E889C0;
	background-image: url('material.png');
}
.orange {
	background: #FABF77;
	background-image: url('material.png');
}
.red {
	background: #F4767C;
	background-image: url('material.png');
}
.red:hover {
	background: #E87076;
	background-image: url('material.png');
}
.red:active {
	background: #DC6A70;
	background-image: url('material.png');
}
.yellow {
	background: #FFFA99;
	background-image: url('material.png');
}
.green {
	background: #73D99C;
	background-image: url('material.png');
}
.green:hover {
	background: #6DCE94;
	background-image: url('material.png');
}
.green:active {
	background: #68C38C;
	background-image: url('material.png');
}
.green-text {
	color: #136c37;
}
.blue {
	background: #59A3D3;
	background-image: url('material.png');
}

#menu-toggle {
	position: absolute;
	width: 30px;
	height: 35px;
	left: 20px;
	top: 20px;
	margin: 0;
	padding: 0;
	z-index: 10;
	background: none;
	border: none;
}

#menu-toggle img {
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	width: 300px;
	height: 100%;
	left: 0;
	
	background: rgba(0,0,0,0.5);
}

#grid {
	width: 100%;
	height: 100%;
}
#board {
	background: url('board.jpg');
	background-size: 100%;
	width: 800px;
	height: 800px;
	box-shadow: 0px 0px 48px #000;
	text-align: center;
}

#ui {
	display: block;
	background: #cde6d0;
	width: 586px;
	height: 586px;
	margin-left: 5px;
	text-align: left;
}

#ui-margin {
	padding: 16px;
}

#card {
	position: absolute;
	background: white;
	box-shadow: 0px 0px 16px #444;
	border: 3px solid #333;
	width: 240px;
	height: 275px;
	z-index: 100;
	pointer-events: none;
}

#card-header {
	margin: 8px;
	height: 45px;
	border: 3px solid #333;
	text-align: center;	
}

#card-header-railroad {
	margin: 7px;
	text-align: center;
	font-family: Kabel;
}

#property {
	margin: 8px;
	
	font-family: Raleway;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	text-align: center;
}

#property > span {
	display: block;
	width: 100%;
}

#property table {
	border-collapse: collapse;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	width: 175px;
}

#property td:last-child {
	text-align: right;
}

#property p {
	font-size: 9px;
	line-height: 10px;
}

#railroad {
	margin: 8px;
	
	font-family: Raleway;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	text-align: center;
}

#railroad > span {
	display: block;
	width: 100%;
}

#railroad table {
	border-collapse: collapse;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
	width: 190px;
}

#railroad td:last-child {
	text-align: right;
}

#railroad p {
	line-height: 18px;
}

#card-header span {
	display:flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

#board-grid {
	float: left;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

@font-face{
    font-family: Kabel;
    src: url('kabel.ttf');
}

@font-face{
    font-family: Raleway;
    src: url('raleway.ttf');
}